/*
  City University of Hong Kong
  Canvas Override CSS
*/

/* removing browse courses link in login screen */
.ic-Login-header__links a[href="/search/all_courses"]
{
	display: none !important;
}

/* Removing forgot password link in login screen */
.forgot_password_link
{
	display: none;
}

/* removing change default email address icon in profile settings */
.email_meta a[aria-label="Set default email address"]
{
	display: none !important;
}

/* canvas main navigation top left logo styling */
.ic-app-header__logomark-container
{
	background-image: linear-gradient(
		to top right,
		#6B203E,
		#77224A 21%,
		#991E54 43%,
		#BF165E 65%,
		#D06185 77%,
		#E8A6BA 89%,
		#FADBE8 100%
	);
	background-size: 200% 200%;
	background-position: 100% 100%;
	transition: background-position 0.5s;
}

.ic-app-header__logomark-container:hover
{
	background-position: 100% 0;
}

.ic-app-header__logomark
{
	margin-bottom: 0;
	background-size: 48px;
}

h1, h2, .h1, .h2
{
	color: #bf165e;
}

/* removing add people email address and sis id options */
label[for=peoplesearch_radio_cc_path]
{
	display: none !important;
}

label[for=peoplesearch_radio_sis_user_id]
{
	display: none !important;
}

/* removing add people instruction */
.peoplesearch__instructions
{
	display: none;
}






/* .ic-notification -> .msg-grades-note */
/* Canvas own style: ic-notification */
/* Canvas own style: ic-notification--admin-created */
/* Canvas own style: ic-notification--alert */
.msg-grades-note{
	display:flex;
	border:2px solid var(--ic-brand-primary);
	margin-bottom:12px;
	box-shadow:0 1px 6px rgba(0,0,0,.2);
	border-radius:3px;
	box-sizing:border-box;
}
.msg-grades-note.msg-grades-note--alert {
	border-color: #fc5e13;
}


/* Canvas own style: ic-notification__icon */

.msg-grades-note.msg-grades-note--alert .msg-grades-note__icon {
	background:#fc5e13;
}
.msg-grades-note__icon{
	background:var(--ic-brand-primary);
	flex:0 0 48px;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	border-top-left-radius:1px;
	border-bottom-left-radius:1px;
	box-sizing:border-box
}

.msg-grades-note__icon i[class*=icon-],.msg-grades-note__icon i[class^=icon-]{
	line-height:1;
}
.msg-grades-note__icon i[class*=icon-]:before,.msg-grades-note__icon i[class^=icon-]:before{
	font-size:22px;
}
.msg-grades-note__icon i[class*=icon-],.msg-grades-note__icon i[class^=icon-]{
	color:#fff;
	text-shadow:none;
}

/* Canvas own style: ic-notification__content */

.msg-grades-note.msg-grades-note--admin-created .msg-grades-note__content {
	display:flex;
}
@media only screen and (min-width: 992px) { .msg-grades-note.msg-grades-note--admin-created .msg-grades-note__content {align-items:flex-start;}}
.msg-grades-note__content{
	flex:1;
	padding:12px;
	box-sizing:border-box;
	background:#fff;
	position:relative;
}

/* Canvas own style: ic-notification__message */

.msg-grades-note.msg-grades-note--admin-created .msg-grades-note__message{
	flex:1;
	overflow-wrap:anywhere;
}
.msg-grades-note__message{
	box-sizing:border-box;
	margin-top: -10px;
}
.msg-grades-note__message p{
	text-align: justify;
}
.msg-grades-note__message p:last-of-type{
	margin-bottom:0;
}

/* Canvas own style: ic-notification__actions */

.msg-grades-note.msg-grades-note--admin-created .msg-grades-note__actions{
	margin-left:24px;
}
@media only screen and (min-width: 992px){.msg-grades-note.msg-grades-note--admin-created .msg-grades-note__actions{margin-left:36px}}
.msg-grades-note__actions{
	box-sizing:border-box;
}
