:root {
        --ic-brand-primary-darkened-5: #036FAC;
--ic-brand-primary-darkened-10: #0369A3;
--ic-brand-primary-darkened-15: #03639A;
--ic-brand-primary-lightened-5: #0F7AB8;
--ic-brand-primary-lightened-10: #1C81BC;
--ic-brand-primary-lightened-15: #2888C0;
--ic-brand-button--primary-bgd-darkened-5: #036FAC;
--ic-brand-button--primary-bgd-darkened-15: #03639A;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0369A3;
--ic-link-color-lightened-10: #1C81BC;
--ic-brand-primary: #0374B5;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0374B5;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #394B58;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #bf165e;
--ic-brand-header-image: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_18390000000000001/attachments/885699/nav-logo.png?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1924198541&Signature=nn0NinCT7XxKp24gVDth5vHaMbE%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-apse1.s3.ap-southeast-1.amazonaws.com/account_18390000000000001/attachments/5311008/cityu-canvas-login-logo-responsive.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_18390000000000001/attachments/885693/favicon.ico?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1924198397&Signature=GLvHcuL0NmdzBdbryECy5EuArr8%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_18390000000000001/attachments/885694/mobile-icon.png?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1924198398&Signature=qokrJazZah4O5tDLkFjWaqylf1A%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-color: #bf165e;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_18390000000000001/attachments/885695/windows-tile.png?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1924198398&Signature=pzmVL1siPQC9CIHbh0tOXun%2FUTY%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_18390000000000001/attachments/885696/windows-tile-wide.png?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1924198399&Signature=6ipLj%2B5WkJzKCeGoRYE%2FlOk0wcI%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads-apse1.s3-ap-southeast-1.amazonaws.com/account_18390000000000001/attachments/1464802/cityu-canvas-login-logo.png?AWSAccessKeyId=AKIAIDDUVOH2KGZFBNAQ&Expires=1948242803&Signature=EeuMzwd0s3PiFCwTrWls6ic7uV8%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }